In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
import os
import pandas as pd

carpeta = 'europa/SP'

nombres_columna = ['estacion', 'fecha', 'maxima', 'minima', 'precip', 'nevada', 'profun_nieve']

dfs = []

for archivo in os.listdir(carpeta):
    if archivo.endswith('.csv'):
        ruta_completa = os.path.join(carpeta, archivo)
        
        df = pd.read_csv(ruta_completa, header=None, sep=';')
        
        df.columns = nombres_columna
        
        dfs.append(df)

In [3]:
df = pd.concat(dfs, ignore_index=True)
df

            estacion       fecha  maxima  minima  precip  nevada  profun_nieve
0        SP000003195  1920-01-01   119.0    88.0     0.0     NaN           NaN
1        SP000003195  1920-01-02   110.0    26.0     0.0     NaN           NaN
2        SP000003195  1920-01-03    86.0    24.0    14.0     NaN           NaN
3        SP000003195  1920-01-04    68.0    25.0     0.0     NaN           NaN
4        SP000003195  1920-01-05    66.0    16.0     0.0     NaN           NaN
...              ...         ...     ...     ...     ...     ...           ...
3102150  SPW00014011  2000-01-13    73.0     NaN     NaN     NaN           NaN
3102151  SPW00014011  2002-02-14   112.0     NaN     NaN     NaN           NaN
3102152  SPW00014011  2004-06-27   387.0     NaN     NaN     NaN           NaN
3102153  SPW00014011  2004-09-27   280.0     NaN     NaN     NaN           NaN
3102154  SPW00014011  2005-12-17   140.0     NaN     NaN     NaN           NaN

[3102155 rows x 7 columns]

In [8]:
df['precip'] = df['precip'].apply(lambda x: x / 10 if pd.notnull(x) else x)
df

            estacion       fecha  maxima  minima  precip  nevada  profun_nieve
0        SP000003195  1920-01-01   119.0    88.0     0.0     NaN           NaN
1        SP000003195  1920-01-02   110.0    26.0     0.0     NaN           NaN
2        SP000003195  1920-01-03    86.0    24.0     1.4     NaN           NaN
3        SP000003195  1920-01-04    68.0    25.0     0.0     NaN           NaN
4        SP000003195  1920-01-05    66.0    16.0     0.0     NaN           NaN
...              ...         ...     ...     ...     ...     ...           ...
3102150  SPW00014011  2000-01-13    73.0     NaN     NaN     NaN           NaN
3102151  SPW00014011  2002-02-14   112.0     NaN     NaN     NaN           NaN
3102152  SPW00014011  2004-06-27   387.0     NaN     NaN     NaN           NaN
3102153  SPW00014011  2004-09-27   280.0     NaN     NaN     NaN           NaN
3102154  SPW00014011  2005-12-17   140.0     NaN     NaN     NaN           NaN

[3102155 rows x 7 columns]

In [15]:
df['fecha'] = pd.to_datetime(df['fecha'])

In [16]:
df['aÃ±o'] = df['fecha'].dt.year
df['mes'] = df['fecha'].dt.month

In [9]:
df.isna().sum()

estacion              0
fecha                 0
maxima           148528
minima           192625
precip            98196
nevada          3076257
profun_nieve    3068702
dtype: int64

In [13]:
df.precip.describe()

count   3003959.00
mean          1.66
std           5.95
min           0.00
25%           0.00
50%           0.00
75%           0.10
max         360.00
Name: precip, dtype: float64

In [11]:
df.precip.max()

360.0

In [18]:
df.nevada.describe()

count   25898.00
mean        0.03
std         1.38
min         0.00
25%         0.00
50%         0.00
75%         0.00
max       119.00
Name: nevada, dtype: float64

In [27]:
gb = df.groupby(['estacion', df['aÃ±o'], df['mes']]).agg({'precip': 'sum', 'profun_nieve': 'sum'})
gb

                      precip  profun_nieve
estacion    aÃ±o  mes
SP000003195 1920 1      2.80          0.00
                 2     89.40          0.00
                 3     30.10          0.00
                 4     26.30          0.00
                 5     75.30          0.00
...                      ...           ...
SPW00014011 2000 1      0.00          0.00
            2002 2      0.00          0.00
            2004 6      0.00          0.00
                 9      0.00          0.00
            2005 12     0.00          0.00

[103440 rows x 2 columns]

In [28]:
gb = gb.reset_index()

In [29]:
gb

           estacion   aÃ±o  mes  precip  profun_nieve
0       SP000003195  1920    1    2.80          0.00
1       SP000003195  1920    2   89.40          0.00
2       SP000003195  1920    3   30.10          0.00
3       SP000003195  1920    4   26.30          0.00
4       SP000003195  1920    5   75.30          0.00
...             ...   ...  ...     ...           ...
103435  SPW00014011  2000    1    0.00          0.00
103436  SPW00014011  2002    2    0.00          0.00
103437  SPW00014011  2004    6    0.00          0.00
103438  SPW00014011  2004    9    0.00          0.00
103439  SPW00014011  2005   12    0.00          0.00

[103440 rows x 5 columns]

In [ ]:
.

In [30]:
gb.to_csv('lluvias.csv', index=False)